.textarea:focus {
    border:1px solid #D1D1D1;
    outline: none !important;
}

.textarea {
    box-sizing: border-box;
    width: 372px;
    border-radius: 5px;
    height: 36px;
    padding-left: 12px;
    border:1px solid #D1D1D1;
    resize: none;
    font-family: inherit;
}

.textareaWrapper {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
}

.superTextarea {
}

.errorTextarea {
    border:1px solid #CC1439;
}

.errorTextarea:focus {
    border:1px solid #CC1439;
}

.error {
    color:#CC1439;
    position: absolute;
    /*margin-bottom: 36px;*/
    /*margin-left: 1px;*/
    top:0;
    left:5px;
    transform: translate(0,-100%);
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
}
