.contactsBlock{
    /*height: 300px;*/
    background-image: linear-gradient(to top right,rgb(24,24,27),rgb(39,39,42));
    display: flex;
    justify-content: center;
}

.container{
    width: 80%;
    /* border:1px solid; */
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: space-between;*/
    margin-bottom: 6vw;
}

.form{
    min-height: 200px;
    display: flex;
    flex-direction: column;
    gap:10px;
    max-width: 100%;
}

.textArea{
    height: 80px!important;
}

.maxWidth{
    max-width: 100%;
}

.buttonSend{
    align-self: center;
}

.input{
    border-radius: 0!important;
    padding-top: 0.75rem!important;
    padding-bottom: 0.75rem!important;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: rgb(var(--color-omega-700)/.2);
    --color-omega-700: 63 63 70;
}
.title{
    -webkit-background-clip: text;
    background-image: linear-gradient(to bottom,rgb(6 182 212), rgb(99 102 241));
    color: transparent;
    font-size: 13vw;
    margin: 3vw;
    font-style: normal;
    font-weight: 700;
}

/*.sendButton{*/
/*    align-self: center;*/
/*}*/