.contactsBlock{
    /*height: 300px;*/
    background-color: #B31232;
    display: flex;
    justify-content: center;
}

.container{
    width: 80%;
    border:1px solid;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: space-between;*/
}

.form{
    min-height: 200px;
    display: flex;
    flex-direction: column;
    gap:10px;
    max-width: 100%;
}

.textArea{
    height: 80px!important;
}

.maxWidth{
    max-width: 100%;
}

/*.sendButton{*/
/*    align-self: center;*/
/*}*/