.mainBlock{
    min-height: 100vh;
    background-image: linear-gradient(to top right,rgb(24,24,27),rgb(39,39,42));
    display: flex;
    justify-content: center;
    overflow: hidden;
    /* z-index: 0; */
}

.container{
    width: 80%;
    /* border:1px solid; */
    /*height: 100%;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
}

.text{
    /*width: 300px;*/
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    color: #FFFFFF;
}

.text h1{
    -webkit-background-clip: text;
    background-image: linear-gradient(to bottom,rgb(6 182 212), rgb(99 102 241));
    color: transparent;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
}

.photo{
    width: 300px;
    height: 400px;
    position: relative;
    z-index: 10;
}

.photo::before{
    content: "";
    position: absolute;
    background-color: rgb(255 255 255);
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    transform: translate(0.5rem,0.5rem);
}

.img{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #B31232;
    object-fit: cover;
}