.mainBlock{
    min-height: 100vh;
    background-color: #d4ace8;
    display: flex;
    justify-content: center;
}

.container{
    width: 80%;
    border:1px solid;
    /*height: 100%;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.text{
    width: 300px;
}

.photo{
    width: 300px;
    height: 400px;
    background-color: coral;
}